<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <meta th:csrf="${_csrf.token}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Live skills stats</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body style="background-color: beige;height: 100vh;width: 100%;">
<div class="wrapper" style="padding-bottom: 20px;">
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Discover & Rank Your Skills</h1>
            <p class="hero-subtitle">
                Personalize your tech stack. Rate your proficiency, organize your favorites, and track your growth.
            </p>
            <div class="hero-actions" th:switch="${isUserAuthenticated}">
                <!-- Case: Not logged in -->
                <a th:case="false" href="/login" class="btn btn-primary hero-btn btn-info auth-btn">
                    <i class="ph-bold ph-user" style="font-size:18px;margin-right: 3px;"></i> Login
                </a>
                <!-- Case: Logged in -->
                <form th:case="true" th:action="@{/logout}" method="post" class="d-inline w-auto mb-0">
                    <button type="submit" class="btn btn-primary hero-btn btn-info auth-btn"
                            style="background-color: #c17e7e;border-color: #c17e7e;">
                        <i class="ph-bold ph-user" style="font-size:18px;margin-right: 3px;"></i>
                        <span sec:authentication="name" style="text-transform:capitalize;"></span>, Logout
                    </button>
                </form>
                <!-- Always visible link -->
                <a href="/votes" class="btn btn-secondary hero-btn">
                    <i class="ph-bold ph-ranking" style="font-size:18px;margin-right: 3px;"></i> Explore Public Ranks
                </a>
            </div>
        </div>
    </section>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="position: relative;">
            <li class="breadcrumb-item"><a href="/"><i class="ph-fill ph-house-line"></i>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="ph-fill ph-sparkle"></i><a href="/votes">Skill
                stats</a></li>
            <li class="breadcrumb-item"><a href="/myratings"><i class="ph-fill ph-pencil-ruler"></i>Give your rating</a>
            </li>
            <li class="breadcrumb-item"><a href="/swagger-ui.html" target="_blank"
                                           style="position:absolute;right:10px;"><i
                    class="ph-fill ph-arrow-square-out"></i>API documentation</a></li>
        </ol>
    </nav>
    <section>
        <div class="main-flex-container">
            <div class="tools-section">
                <!-- Header -->
                <div class="skill-section-header">
                    <h3>Stats of the Languages and frameworks you know</h3>
                    <div class="title-border"></div>
                </div>
                <p class="leading">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur animi repellat,
                    nihil obcaecati laboriosam repellendus! Magni a dolores ratione aliquid corporis rem placeat
                    maxime similique delectus.
                </p>
                <div class="skills-section-body d-flex" style="padding-top: 10px;">
                    <!-- LEFT: All Skills -->
                    <div class="w-75 skills-section-body-list skill-card-wrapper d-flex flex-wrap">
                        <div th:each="skill, iterStat : ${skills}" class="card skill-card">
                            <div class="card-body p-0 d-flex flex-column align-items-center" th:skill-uuid="${skill.skilluuid}">
                                <!-- Icon -->
                                <i th:class="${skill.skillicon} + ' colored'" style="font-size:25px;"></i>
                                <!-- Name -->
                                <strong style="margin: 5px 0px; width: 85px;text-transform:capitalize;"
                                        th:text="${skill != null and skill.skillname != null
                                         ? (skill.skillname.length() > 6
                                             ? #strings.substring(skill.skillname, 0, 6) + ' ...'
                                             : skill.skillname)
                                         : ''}">
                                </strong>
                                <small>
                                    <span th:text="${skill.rating}"></span>
                                    <i class="ph-bold ph-heart" style="margin-right:3px; color:#ee2e2e;"></i>
                                </small>
                                <!-- Like / Dislike Buttons -->
                                <div class="w-100 d-flex justify-content-between" style="margin-top: 2px;">
                                    <div id="like-btn" class="circle-icon"
                                         style="background-color: #329932;">
                                        <i class="ph-bold ph-thumbs-up" style="font-size:18px;margin-right:3px;"></i>
                                    </div>
                                    <div id="dislike-btn" class="circle-icon"
                                         style="background-color: #FF4C4C;">
                                        <i class="ph-bold ph-thumbs-down" style="font-size:18px;margin-right:3px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RIGHT: Top Ranked Tools -->
                    <div class="w-25 ranking-panel">
                        <h4 class="" style="font-size:18px;font-weight:bold;">Top ranked tools</h4>
                        <ul id="top-tools-list" class="ranking-list">
                            <li th:each="tool, iterStat : ${top5skills}" th:if="${iterStat.index < 5}">
                                <div class="rank-item">
                                    <i th:class="${tool.skillicon} + ' colored mr-2'" style="font-size:25px;"></i>
                                    <div style="flex:1 1 0%;">
                                        <h5 class="rank-name text-left mb-0" style="font-size:15px;text-transform:capitalize;"
                                            th:text="${tool.skillname.length() >7 ? #strings.concat(#strings.substring(tool.skillname, 0, 7), ' ...'): tool.skillname}"></h5>
                                        <span class="rank-likes">
                                            <i class="ph-bold ph-arrow-circle-up" style="color:green;"></i>
                                            <span th:text="${tool.upvote}">0</span>
                                            <i class="ph-bold ph-arrow-circle-down" style="color:red;"></i>
                                            <span th:text="${tool.downvote}">0</span>
                                          </span>
                                    </div>
                                    <!-- Dynamic Medal: only for top 3 -->
                                    <span th:switch="${iterStat.index}">
                                      <span th:case="0" class="rank-medal gold">🥇</span>
                                      <span th:case="1" class="rank-medal silver">🥈</span>
                                      <span th:case="2" class="rank-medal bronze">🥉</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form class="invisible" action="#" th:action="@{http://localhost:8080//api/v1/data/skill-vote}" id="skill-voter" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">Submit</button>
    </form>
</div>
<div id="back-to-top" class="d-flex justify-content-center align-items-center">
    <i class="ph-bold ph-caret-double-up"></i>
</div>

<script th:src="@{/js/backtotop.js}"></script>
<script>
    function startEventSource() {
        const eventSource = new EventSource('/api/v1/data/skills');
        eventSource.onopen = function() {
            console.log("Connection to server opened.");
        };
        eventSource.onerror = function(event) {
            console.error("EventSource failed:", event);
        };
        eventSource.onmessage = function(event) {
            console.log("Received data:", event.data);
            upateview(JSON.parse(event.data));
        };
    }
    function newVote(skilluuid, voteType) {
        const csrfToken = document.querySelector("meta[name='_csrf']").getAttribute('content');
        const csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute('content');
        return fetch('/api/v1/data/skill-vote', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                skilluuid: skilluuid,
                voteType: voteType
            })
        });
    }
    function upateview(skilldata){
        var  skillElt = document.querySelector(`div[skill-uuid='${skilldata.skilluuid}']`);
        var skillEltRating = skillElt.querySelector("small>span");
        skillEltRating.innerText = skilldata.rating;
    }
    document.addEventListener("DOMContentLoaded",function(){
        const liketbns = document.querySelectorAll("#like-btn");
        const disliketbns = document.querySelectorAll("#dislike-btn");
        let voteteform = document.querySelector("#skill-voter");
        startEventSource();

        //===========alternative to ripple effect button===========
        liketbns.forEach(btn =>{
            btn.addEventListener("click",()=>{
                var skilluuid = btn.closest(".card-body").getAttribute("skill-uuid");
                newVote(skilluuid, "UPVOTE")
                    .then(response => response.json())
                    .then(res => {
                        console.log(res);
                    });
            });
            btn.addEventListener("mousedown",function(){
                this.querySelector("i").style.color="#329932";
                this.style.backgroundColor="white";
            });
            btn.addEventListener("mouseup",function(){
                this.querySelector("i").style.color="white";
                this.style.backgroundColor="#329932";
            });
        });
        disliketbns.forEach(btn =>{
            btn.addEventListener("click",()=> {
                var skilluuid = btn.closest(".card-body").getAttribute("skill-uuid");
                newVote(skilluuid, "DOWNVOTE")
                    .then(response => response.json())
                    .then(res => {
                        console.log(res);
                    });
            });
            btn.addEventListener("mousedown",function(){
                this.querySelector("i").style.color="#FF4C4C";
                this.style.backgroundColor="white";
            });
            btn.addEventListener("mouseup",function(){
                this.querySelector("i").style.color="white";
                this.style.backgroundColor="#FF4C4C";
            });
        });
    });
</script>
</body>
</html>