<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills rater</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="stylesheet" th:href="@{/css/app.css}">

    <style>
        .wrapper{
            width: 800px;
            margin: 0 auto;
            padding-top: 30px;
        }
        /* form i {
            margin-left: -30px;
            cursor: pointer;
        } */
        .form-passwod-group{
            position: relative;
        }
        i#togglePassword{
            position: absolute;
            bottom: 10px;
            right: 12px;
            font-size: 19px;
            cursor: pointer;
        }
        label.form-group{
            padding: 3px 0px!important;
        }
        .form-group{
            margin-bottom: 8px!important;
        }
    </style>
</head>
<body style="background-color: beige;height: 100vh;width: 100%;">
    <div class="wrapper">
        <div class="jumbotron" style="padding-bottom: 30px;">
            <h1 class="display-4">Weclome to <strong>Chat Monitor</strong></h1>
            <hr class="my-4">
            <p>Utilize the navigation bar below to go through our site and of course <em>have fun !</em></p>
            <button class="btn btn-info" data-toggle="modal" data-target="#loginModal">Login</button>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/rater">Skills rating</a></li>
            </ol>
        </nav>
        <p class="leading">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur animi repellat,
            nihil obcaecati laboriosam repellendus! Magni a dolores ratione aliquid corporis rem placeat 
            maxime similique delectus. Ipsum rem qui temporibus nesciunt atque similique nemo doloribus, 
            labore fugiat voluptate cupiditate minima sunt eum hic magnam nobis omnis quaerat distinctio 
            impedit totam?
        </p>
        
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post" style="margin:0px 0px;" id="rating-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Skill selection</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="skill">
                                <option value="empty">Select one of the option below</option>
                                <option th:each="skill, iStat : ${skills}" th:value="${skill.skilluuid}" th:text="${skill.skillname}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="user-rating" class="col-form-label">Rating score: </label>
                                <input class="form-control" id="user-rating" name="rating" type="number" min="1" max="10">
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-block btn-primary">Post my rating</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 offset-md-1" style="padding-top:10px;">
                    <h6>Live list of top skills with their ratings</h6>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Skill</th>
                            <th scope="col">Ratings</th>
                            <th scope="col">Ranking</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td  th:text="${testskill.skillname}"></td>
                            <td  th:text="${testskill.rating}"></td>
                            <td  th:text="${testskill.rating}"></td>
                        </tr>
<!--                           <tr th:each="skill, iStat: ${sortedskills}"> -->
<!--                             <td th:text="${skill.skillname}"></td> -->
<!--                             <td class="text-center" th:text="${skill.rating}"></td> -->
<!--                             <td class="text-center" th:switch="${iStat.index}"> -->
<!--                             	<i th:case="0" class="ph-bold ph-medal" style="color:#d4af37;font-size:21px;"></i> -->
<!--                             	<i th:case="1" class="ph-bold ph-medal" style="color:#c0c0c0;font-size:21px;"></i> -->
<!--                             	<i th:case="2" class="ph-bold ph-medal" style="color:#cd7f32;font-size:21px;"></i> -->
<!--                             	<i th:case="*" class="ph-bold ph-minus" style="font-size:21px;"></i> -->
<!--                             </td> -->
<!--                           </tr> -->
                        </tbody>
                      </table>
                </div>
            </div>
        </div> 

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    
    function startEventSource() {
      const eventSource = new EventSource('/data/skills');
      eventSource.onopen = function() {
        console.log("Connection to server opened.");
      };
      eventSource.onerror = function(event) {
          console.error("EventSource failed:", event);
      };
      eventSource.onmessage = function(event) {
        console.log("Received data:", event.data);
      };
    }
    
    document.addEventListener("DOMContentLoaded",function(){
        console.log("hello");
            startEventSource();
        let form = document.querySelector("#rating-form");
        form.addEventListener("submit",function(e){
            e.preventDefault();
            console.log("what...");
            let formdata = new FormData(e.target); 
                try{
                    axios.post("/post-rating",{
                    "skilluuid":formdata.get("skill"),
                    "rating":formdata.get("rating")
                    }).then(function(res){
                        console.log(res.data);
                    });
            }catch(e){
                console.log("following error rose ",e);
            }
        });
    });
    </script>
</body>
</html>

<!--///post-skill-rating use script with axios to post the form -->
<!-- //             axios.get("/api/v1/students").then(function(res){ -->
<!-- //                 console.log(res.data); -->
<!-- //             }); -->